body {
  margin: 0;
  line-height: normal;
  width: 100vw;
  height: 100vh;
}

.one-of-the {
  margin: 0;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-inria-serif: "Inria Serif";

  /* font sizes */
  --font-size-lg-8: 18.8px;
  --font-size-mid-5: 17.5px;
  --font-size-2xl-3: 21.3px;
  --font-size-9xl-1: 28.1px;
  --font-size-6xl: 25px;
  --font-size-base-3: 16.3px;
  --font-size-xl: 20px;
  --font-size-smi-5: 12.5px;
  --font-size-3xl-5: 22.5px;
  --font-size-9xl: 28px;
  --font-size-lgi-1: 19.1px;
  --font-size-11xl-6: 30.6px;
  --font-size-2xl-7: 21.7px;
  --font-size-base-6: 16.6px;
  --font-size-lg-5: 18.5px;
  --font-size-3xl-9: 22.9px;
  --font-size-mid-8: 17.8px;

  /* Colors */
  --color-white: #fff;
  --color-mediumslateblue-100: #5e5bff;
  --color-black: #000;
  --color-navy: #252da2;
  --color-mediumblue: #2732d3;
  --color-darkblue: #232cab;
  --color-firebrick: #ce2b2b;
  --color-slateblue: #3f48cc;
  --color-gray-100: #27272a;
  --color-gainsboro-100: rgba(217, 217, 217, 0);
  --color-darkgray: #a9a8a8;
  --color-darkturquoise: #5ae8fb;

  /* Gaps */
  --gap-9xl-1: 28.1px;

  /* Paddings */
  --padding-6xs-3: 6.3px;
  --padding-3xs-4: 9.4px;

  /* border radiuses */
  --br-9xs-1: 3.1px;
  --br-6xs-3: 6.3px;
  --br-sm-8: 13.8px;
  --br-16xl: 35px;
}
.logout{
  cursor: pointer;
  position: absolute;
  top: 7px;
  left: 1030px;
}